<div>
  <header>
    <div class="topnav">
      <a href="#">Link</a>
      <a href="#">Link</a>
      <a href="#">Link</a>
    </div>
  </header>
  <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
  <table>
    <tr>
      <th>File Name</th>
    </tr>
    <tr *ngFor="let file of response">
      <td><a href={{file.url}} target="_blank">{{file.name}}</a></td>
    </tr>
  </table>
  <footer>
    <p class="cp-text">
      © Copyright 2015 Company Name. All rights reserved.
  </p>
  </footer>
 </div>
